<div class="fullscreen background">
    <div class="content">
        Ride To Jake's and Julia's Wedding
    </div>

    <div class="buttons">
      <span class="btn btn-default btn-lg"><%= link_to 'See all Drivers and Riders', rides_path %></span>
        <span><strong>Or</strong></span>
      <span class="btn btn-default btn-lg"><%= link_to 'Add Your Information to the List', new_ride_path %></span>
    </div>

</div>