<div class="fullscreen background">
    <div class="content">
        Getting To <span class="letter-decor">Jake's</span> and <span class="letter-decor">Julia's</span> Wedding
    </div>

    <div class="buttons">
      <span class="btn btn-default btn-lg"><%= link_to 'See all Drivers and Riders', rides_path %></span>
        <strong class="agument-word">Or</strong>
      <span class="btn btn-default btn-lg"><%= link_to 'Add Your Information to the List', new_ride_path %></span>
    </div>

    <footer>Für mein bester Freund. Von<a class="letter-decor" href="https://twitter.com/gus_tavo_guim">Gustavo</a></footer>

</div>