.background {
    background-image: url('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1557212_10104082058628720_493792891_o.jpg');
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}

.fullscreen {
    width:100%;
    min-height:100%;
}

.content {
    background: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position:relative;
    color: white;
    font-size: 80px;
    top: 200px;
    vertical-align:middle;
    text-align:center;
  .letter-decor{
    color: #899cf0;
  }
}

footer {
  background: linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  position:absolute;
  color: white;
  font-size: 20px;
  top: 90%;
  left: 80%;
  text-align:center;
}
.buttons {
  color: #899cf0;
  position: relative;
  left: 450px;
  top: 250px;

  .agument-word{
    font-size: 20px;
  }
}
