<h1 class="letter-blue">Edit Info</h1>

<div class="center-form">
  <%= form_for :ride, url: ride_path(@ride), method: :patch do |f| %>
    <%= render partial: "form", locals: { form: f} %>
  <% end %>

  <%=link_to "Index", rides_path%>
</div>